torch 
torchaudio 
torchvision

tqdm
matplotlib
Ipython
transformers
diffusers
scipy
fire
gradio
librosa
av
realesrgan==0.2.5.0
natsort
accelerate
opencv-python
basicsr
facexlib
facexlib
gfpgan
apache-beam
mediapy
nltk
print-color
# Optional
praw 
request
soundcloud-lib
instagrapi